<header>

    <!-- <a href="#" class="logo"><img src="http://www.lodhakandivali-enquirys.co.in/micro_assets/develope
      r_logo/1633506901_lodha-kandivali-logo.png" class="logo"></a> -->

    <div style="display: flex;align-items: center;justify-content: center;">
        <i class="fas fa-bars" style="font-size: 4rem;
      margin-right: 0.5rem;
      color:#99999B;"></i>
        <a href="#" class="logo"><span>LODHA</span>WOODS</a>
    </div>

    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#services">Price</a>
        <a href="#featured">featured</a>

        <a href="#contact">contact</a>
    </nav>


    <div class="icons">
        <div id="menu-bars" class="fas fa-bars"></div>
        <a href="#" class="fas fa-user"></a>
    </div>

</header>

<section class="home" id="home">

    <form action="">
        <h2>Booking Open Now</h2>
        <h1>LODHA WOODS </h1>
        <h4>By Lodha Group</h4>
        <h3>find your perfect home</h3>



        <div class="inputBox">

            <label for="email" class="label">Enter your name:</label>
            <input type="text" id="fname" placeholder="Name" name="fname" [(ngModel)]="topForm.name">
            <label for="email" class="label">Enter your  number:</label>
            <input type="tel" id="phone" name="phone" placeholder="Phone Number" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required [(ngModel)]="topForm.phone">
            <label for="email" class="label">Enter your email:</label>
            <input type="email" placeholder="Email" id="email" name="email" [(ngModel)]="topForm.email">

        </div>

        <input type="submit" class="btn" (click)="submitForm('top')">

    </form>

</section>

<!-- home section ends -->

<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> our <span>Price</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="../assets/s-2.png" alt="">
            <h3>Price</h3>
            <p>Rs 2.07 Cr* Onwards</p>
            <p>Area 725 sqft</p>
            <p>2 BHK</p>
            <a (click)="openDialog()" class="btn">Price Breakup</a>
        </div>

        <div class="box">
            <img src="../assets/s-2.png" alt="">
            <h3>Price</h3>
            <p>Rs 2.19 Cr* Onwards</p>
            <p>Area 775 sqft</p>
            <p>2 BHK</p>
            <a (click)="openDialog()" class="btn">Price Breakup</a>
        </div>

        <div class="box">
            <img src="../assets/s-2.png" alt="">
            <h3>Price </h3>
            <p>Rs 2.79 Cr* Onwards </p>
            <p>Area 975 sqft</p>
            <p>3 BHK</p>
            <a (click)="openDialog()" class="btn">Price Breakup</a>
        </div>

    </div>

</section>


<!-- services section ends -->

<!-- featured section starts  -->

<section class="featured" id="featured">

    <h1 class="heading"> <span>featured</span> properties </h1>

    <div class="box-container">

        <div class="box">
            <div class="image-container">
                <img src="../assets/img-1.jpg" alt="">
                <div class="info">
                    <h3>3 days ago</h3>
                    <h3>for rent</h3>
                </div>
                <div class="icons">
                    <a (click)="openDialog()" class="fas fa-film">
                        <h3>1</h3>
                    </a>
                    <a (click)="openDialog()" class="fas fa-camera">
                        <h3>4</h3>
                    </a>
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>Rs 2.07cr</h3>
                    <a (click)="openDialog()" class="fas fa-heart"></a>
                    <a (click)="openDialog()" class="fas fa-envelope"></a>
                    <a (click)="openDialog()" class="fas fa-phone"></a>
                </div>
                <div class="location">
                    <h3>modern apartments</h3>

                </div>
                <div class="details">
                    <h3> <i class="fas fa-expand"></i> 725 sqft </h3>
                    <h3> <i class="fas fa-bed"></i> 3 beds </h3>
                    <h3> <i class="fas fa-bath"></i> 2 baths </h3>
                </div>
                <div class="buttons">
                    <a (click)="openDialog()" class="btn">request info</a>
                    <a (click)="openDialog()" class="btn">view details</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="../assets/img-2.jpg" alt="">
                <div class="info">
                    <h3>6 days ago</h3>
                    <h3>for sell</h3>
                </div>
                <div class="icons">
                    <a (click)="openDialog()" class="fas fa-film">
                        <h3>2</h3>
                    </a>
                    <a (click)="openDialog()" class="fas fa-camera">
                        <h3>7</h3>
                    </a>
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>Rs 2.19cr</h3>
                    <a (click)="openDialog()" class="fas fa-heart"></a>
                    <a (click)="openDialog()" class="fas fa-envelope"></a>
                    <a (click)="openDialog()" class="fas fa-phone"></a>
                </div>
                <div class="location">
                    <h3>modern apartments</h3>

                </div>
                <div class="details">
                    <h3> <i class="fas fa-expand"></i> 775 sqft </h3>
                    <h3> <i class="fas fa-bed"></i> 3 beds </h3>
                    <h3> <i class="fas fa-bath"></i> 2 baths </h3>
                </div>
                <div class="buttons">
                    <a (click)="openDialog()" class="btn">request info</a>
                    <a (click)="openDialog()" class="btn">view details</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="../assets/img-3.jpg" alt="">
                <div class="info">
                    <h3>1 days ago</h3>
                    <h3>for rent</h3>
                </div>
                <div class="icons">
                    <a (click)="openDialog()" class="fas fa-film">
                        <h3>1</h3>
                    </a>
                    <a (click)="openDialog()" class="fas fa-camera">
                        <h3>6</h3>
                    </a>
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>Rs 2.79cr</h3>
                    <a (click)="openDialog()" class="fas fa-heart"></a>
                    <a (click)="openDialog()" class="fas fa-envelope"></a>
                    <a (click)="openDialog()" class="fas fa-phone"></a>
                </div>
                <div class="location">
                    <h3>modern apartments</h3>

                </div>
                <div class="details">
                    <h3> <i class="fas fa-expand"></i> 975 sqft </h3>
                    <h3> <i class="fas fa-bed"></i> 3 beds </h3>
                    <h3> <i class="fas fa-bath"></i> 2 baths </h3>
                </div>
                <div class="buttons">
                    <a (click)="openDialog()" class="btn">request info</a>
                    <a (click)="openDialog()" class="btn">view details</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="../assets/img-4.jpg" alt="">
                <div class="info">
                    <h3>9 days ago</h3>
                    <h3>for rent</h3>
                </div>
                <div class="icons">
                    <a (click)="openDialog()" class="fas fa-film">
                        <h3>2</h3>
                    </a>
                    <a (click)="openDialog()" class="fas fa-camera">
                        <h3>6</h3>
                    </a>
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>Rs 2.93cr</h3>
                    <a (click)="openDialog()" class="fas fa-heart"></a>
                    <a (click)="openDialog()" class="fas fa-envelope"></a>
                    <a (click)="openDialog()" class="fas fa-phone"></a>
                </div>
                <div class="location">
                    <h3>modern apartments</h3>

                </div>
                <div class="details">
                    <h3> <i class="fas fa-expand"></i> 1025 sqft </h3>
                    <h3> <i class="fas fa-bed"></i> 3 beds </h3>
                    <h3> <i class="fas fa-bath"></i> 2 baths </h3>
                </div>
                <div class="buttons">
                    <a (click)="openDialog()" class="btn">request info</a>
                    <a (click)="openDialog()" class="btn">view details</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="../assets/img-5.jpg" alt="">
                <div class="info">
                    <h3>10 days ago</h3>
                    <h3>for sell</h3>
                </div>
                <div class="icons">
                    <a (click)="openDialog()" class="fas fa-film">
                        <h3>3</h3>
                    </a>
                    <a (click)="openDialog()" class="fas fa-camera">
                        <h3>8</h3>
                    </a>
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>Rs 2.07cr</h3>
                    <a (click)="openDialog()" class="fas fa-heart"></a>
                    <a (click)="openDialog()" class="fas fa-envelope"></a>
                    <a (click)="openDialog()" class="fas fa-phone"></a>
                </div>
                <div class="location">
                    <h3>modern apartments</h3>

                </div>
                <div class="details">
                    <h3> <i class="fas fa-expand"></i> 725 sqft </h3>
                    <h3> <i class="fas fa-bed"></i> 3 beds </h3>
                    <h3> <i class="fas fa-bath"></i> 2 baths </h3>
                </div>
                <div class="buttons">
                    <a (click)="openDialog()" class="btn">request info</a>
                    <a (click)="openDialog()" class="btn">view details</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="../assets/img-6.jpg" alt="">
                <div class="info">
                    <h3>3 days ago</h3>
                    <h3>for sell</h3>
                </div>
                <div class="icons">
                    <a (click)="openDialog()" class="fas fa-film">
                        <h3>1</h3>
                    </a>
                    <a (click)="openDialog()" class="fas fa-camera">
                        <h3>4</h3>
                    </a>
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>Rs 2.19cr</h3>
                    <a (click)="openDialog()" class="fas fa-heart"></a>
                    <a (click)="openDialog()" class="fas fa-envelope"></a>
                    <a (click)="openDialog()" class="fas fa-phone"></a>
                </div>
                <div class="location">
                    <h3>modern apartments</h3>

                </div>
                <div class="details">
                    <h3> <i class="fas fa-expand"></i> 775 sqft </h3>
                    <h3> <i class="fas fa-bed"></i> 3 beds </h3>
                    <h3> <i class="fas fa-bath"></i> 2 baths </h3>
                </div>
                <div class="buttons">
                    <a (click)="openDialog()" class="btn">request info</a>
                    <a (click)="openDialog()" class="btn">view details</a>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- featured section ends -->

<!-- agents section starts  -->



<!-- agents section ends -->

<!-- contact section starts  -->

<section class="contact" id="contact">

    <h1 class="heading"> <span>contact</span> us </h1>

    <div class="icons-container">

        <div class="icons">
            <img src="../assets/icon-1.png" alt="">
            <h3>phone number</h3>
            <p>+91-9867874588</p>

        </div>

        <div class="icons">
            <img src="../assets/icon-2.png" alt="">
            <h3>email address</h3>
            <p>vedprakash.shukla83@gmail.com</p>

        </div>

        <div class="icons">
            <img src="../assets/icon-3.png" alt="">
            <h3>office address</h3>
            <p>jogeshwari, mumbai, india - 400104</p>
        </div>

    </div>

    <div class="row">

        <form action="">
            <div class="inputBox">
                <input type="text" placeholder="name" name="name" [(ngModel)]="bottomForm.name">
                <input type="number" placeholder="number" name="number" [(ngModel)]="bottomForm.phone">
            </div>
            <div class="inputBox">
                <input type="email" placeholder="email" name="number" [(ngModel)]="bottomForm.email">
                <input type="text" placeholder="subject" name="subject" [(ngModel)]="bottomForm.subject">
            </div>
            <textarea name="" placeholder="message" id="" cols="30" rows="10" name="message" [(ngModel)]="bottomForm.message"></textarea>
            <input type="submit" (click)="submitForm('bottom')" class="btn">
        </form>



    </div>

</section>

<!-- contact section ends -->

<!-- footer section starts  -->

<section class="footer">

    <div class="footer-container">

        <div class="box-container">



            <div class="box">
                <h3>quick links</h3>
                <a href="#">home</a>
                <a href="#">services</a>
                <a href="#">featured</a>
                <a href="#">agents</a>
                <a href="#">contact</a>
            </div>

            <div class="box">
                <h3>extra links</h3>
                <a href="#">my account</a>
                <a href="#">my favorite</a>
                <a href="#">my list</a>
            </div>

            <div class="box">
                <h3>follow us</h3>
                <a href="#">facebook</a>
                <a href="#">twitter</a>
                <a href="#">instagram</a>
                <a href="#">linkedin</a>
            </div>

        </div>

        <div class="credit">&copy; 2021 india all rights reserved! </div>

    </div>

</section>